:root {
  --navbar-height: 41px;
  --navbar-main-height: 65px;
  --sidebar-width: 80px;
  --sidebar-height: 100vh;
}

$huntease-main: #0026bc;
$huntease-light: #e9effb;
$huntease-medium: #8ba3ff;
$huntease-dark: #052375;
$huntease-accent: #ffc371;
$huntease-green: #18f5a2;
$huntease-red: #ff8565;
$huntease-darkmode: #001134;
$huntease-titles: #001c56;
$white: #ffffff;
$gray: #eeeeee;

$font: "Roboto";
$bold: 700;
$regular: 400;
$light: 300;
$border-radius-inputs: 10px;
$border-radius-button: 15px;
$border-radius-auth: 20px;
$auth-shadow: 0px 1px 10px rgba(185, 185, 185, 0.08);
$shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
$box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.08);

$height-auth-inputs: 43px;
.fdc {
  flex-direction: column;
}
.fdcr {
  flex-direction: column-reverse;
}
.fdr {
  flex-direction: row;
}
.fdrr {
  flex-direction: row-reverse;
}
.jcc {
  justify-content: center;
}
.jcfs {
  justify-content: flex-start;
}
.jcfe {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcse {
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.ais {
  align-items: stretch;
}
.aib {
  align-items: baseline;
}
.fww {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

@for $i from 0 through 100 {
  .forder#{$i} {
    order: #{$i};
  }
  .fs#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .forder#{$i} {
    order: #{$i};
  }
  .margin-top#{5 * $i} {
    margin-top: #{5 * $i}px;
  }
  .margin-left#{5 * $i} {
    margin-left: #{5 * $i}px;
  }
  .margin-right#{5 * $i} {
    margin-right: #{5 * $i}px;
  }
  .margin-bottom#{5 * $i} {
    margin-bottom: #{5 * $i}px;
  }
  .padding-left#{5 * $i} {
    padding-left: #{5 * $i}px;
  }
  .padding-right#{5 * $i} {
    padding-right: #{5 * $i}px;
  }
}

.blured {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.Clight {
  color: #8ba3ff;
}
.Cmain {
  color: #0026bc;
}
.Corange {
  color: #ff8565;
}
.Cred {
  color: #ff5773;
}
.Bold {
  font-weight: $bold;
}

.txtc {
  text-align: center;
}

.scroll-team {
  margin-right: unset;
  height: 23.125rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-guide {
  margin-right: unset;
  height: 89%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: red green;
  scrollbar-width: thin;
}

.scroll-callScript {
  margin-right: unset;
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-callScriptRes {
  margin-right: unset;
  height: 30rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-leads {
  margin-right: unset;
  height: 34.375rem;

  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll-lead {
  margin-right: unset;
  height: 16.25rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-schedule {
  margin-right: unset;
  height: 16.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-topsales {
  margin-right: unset;
  height: 14.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-meeting {
  margin-right: unset;
  height: 14.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-pickGuide {
  margin-right: unset;
  height: 25rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.curs_pointer {
  cursor: pointer;
}

.loading-overlay {
  z-index: 1050;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.loading-main-button {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: #0026bc;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 1;
}

.loading-button-overlay {
  z-index: 1050;

  width: 100%;
  height: 100%;
}

.loading-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid blue;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid blue;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.Auth-button {
  cursor: pointer;
  width: 14.8125em;
  height: $height-auth-inputs;
  background-color: white;
  border: 2px solid $huntease-main;
  border-radius: $border-radius-inputs;
  margin-bottom: 15px;
  & h5 {
    font-weight: 700;
    margin: 0;
    color: $huntease-main;
  }
}
.Auth-button:hover {
  cursor: pointer;
  width: 14.8125em;
  height: $height-auth-inputs;
  background-color: $huntease-main;
  border: 2px solid $huntease-main;
  border-radius: $border-radius-inputs;
  margin-bottom: 15px;
  & h5 {
    font-weight: 700;
    margin: 0;
    color: white;
  }
}

.Auth-button:focus {
  cursor: pointer;
  width: 14.8125em;
  height: $height-auth-inputs;
  background-color: $huntease-main;
  border: 2px solid $huntease-main;
  border-radius: $border-radius-inputs;
  margin-bottom: 15px;
  & h5 {
    font-weight: 700;
    margin: 0;
    color: white;
  }
}

.integrate-button {
  cursor: pointer;
  width: 109px;
  height: 39px;
  height: $height-auth-inputs;
  background-color: white;
  box-shadow: 0 -1px 10px #f5f5f5;
  border-radius: 15px;
  font-weight: $regular;
  font-size: 0.875em;
  color: $huntease-main;
}

.integrate-button:hover {
  cursor: pointer;
  width: 109px;
  height: 39px;
  height: $height-auth-inputs;
  background-color: $huntease-main;
  box-shadow: 0 -1px 10px #f5f5f5;
  border-radius: 15px;
  font-weight: $regular;
  font-size: 0.875em;
  color: white;
}

.integrate-button:focus {
  cursor: pointer;
  width: 109px;
  height: 39px;
  height: $height-auth-inputs;
  background-color: $huntease-main;
  box-shadow: 0 -1px 10px #f5f5f5;
  border-radius: 15px;
  font-weight: $regular;
  font-size: 0.875em;
  color: white;
}

.Save-changes-btn {
  width: 9.963125rem;
  height: 2.25rem;
  background-color: #ffb58d;
  color: white;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $light;
  border-radius: $border-radius-button;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Save-changes-btn:hover {
  width: 9.963125rem;
  height: 2.25rem;
  background-color: #ffb58d;
  color: white;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $light;
  border-radius: $border-radius-button;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Save-changes-btn:focus {
  width: 9.963125rem;
  height: 2.25rem;
  background-color: #ffb58d;
  color: white;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $light;
  border-radius: $border-radius-button;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Change-profile-btn {
  width: 70px;
  height: 37px;
  background-color: white;
  color: $huntease-main;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $regular;
  border-radius: $border-radius-inputs;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Change-profile-btn:hover {
  width: 70px;
  height: 37px;
  background-color: $huntease-main;
  color: white;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $regular;
  border-radius: $border-radius-inputs;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Change-profile-btn:focus {
  width: 70px;
  height: 37px;
  background-color: $huntease-main;
  color: white;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $regular;
  border-radius: $border-radius-inputs;
  outline: 0;
  border-color: white;
  cursor: pointer;
}
.Change-theme-btn:focus {
  width: 90px;
  height: 39px;
  background-color: white;
  color: $huntease-titles;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $bold;
  border-radius: $border-radius-inputs;
  outline: 0;
  box-shadow: 0 0 7px #ff9751a1;
  border-color: white;
  margin: 0 20px 0 20px;
  cursor: pointer;
  &Dark {
    color: $huntease-medium;
    background-color: $huntease-titles;
    width: 90px;
    height: 39px;
    font-family: "Roboto";
    font-size: 0.857em;
    font-weight: $bold;
    border-radius: $border-radius-inputs;
    outline: 0;
    border-color: white;
    cursor: pointer;
    position: relative;
    .comming-soon {
      position: absolute;
      top: -10px;
      right: -60px;
    }
  }
}
.Change-theme-btn:hover {
  width: 90px;
  height: 39px;
  background-color: white;
  color: $huntease-titles;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $bold;
  border-radius: $border-radius-inputs;
  outline: 0;
  box-shadow: 0 0 7px #ff9751a1;
  border-color: white;
  margin: 0 20px 0 20px;
  cursor: pointer;
  &Dark {
    color: $huntease-medium;
    background-color: $huntease-titles;
    width: 90px;
    height: 39px;
    font-family: "Roboto";
    font-size: 0.857em;
    font-weight: $bold;
    border-radius: $border-radius-inputs;
    outline: 0;
    border-color: white;
    cursor: pointer;
    position: relative;
    .comming-soon {
      position: absolute;
      top: -10px;
      right: -60px;
    }
  }
}
.Change-theme-btn {
  width: 90px;
  height: 39px;
  background-color: white;
  color: $huntease-titles;
  font-family: "Roboto";
  font-size: 0.857em;
  font-weight: $bold;
  border-radius: $border-radius-inputs;
  outline: 0;
  box-shadow: 0 0 7px #ff9751a1;
  border-color: white;
  margin: 0 20px 0 20px;
  cursor: pointer;
  &Dark {
    color: $huntease-medium;
    background-color: $huntease-titles;
    width: 90px;
    height: 39px;
    font-family: "Roboto";
    font-size: 0.857em;
    font-weight: $bold;
    border-radius: $border-radius-inputs;
    outline: 0;
    border-color: white;
    cursor: pointer;
    position: relative;
    .comming-soon {
      position: absolute;
      top: -10px;
      right: -60px;
    }
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
